*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(34, 139, 91);
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.nav{
  display: flex;
  gap: 45px;
  font-weight: 600;
  font-family: serif;
  font-size: 1.5em;
}

.nav a{
  text-decoration: none;
  color: rgb(34, 139, 91);
}

 .nav a:hover, .nav a:active, .nav:visited{
  color: rgb(34, 139, 91);
  text-decoration: underline;
}
